html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.jumbotron {
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 40px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    text-align: center;
}

.carousel-item>img {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.media>img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.btn-group-vertical .btn {
    margin-bottom: 10px;
}